// Styles for global (root) elements such as body or html.
html,
body,
#__nuxt,
#__layout,
#__layout > div:first-of-type {
  height: 100%;
}

body {
  color: $color-primary;
}

main {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

