// Body
$body-bg: #ffffff;

// Fonts
$header-font: 'Halant', sans-serif;
$body-font: 'Nunito', sans-serif;
$body-font-secondary: 'Oswald', sans-serif;

// Colors
$color-primary: #182B33;
$color-secondary: #555555;
$color-light: #f9f9f9;
$color-dark: #555555;
