// Body
$body-bg: #ffffff;

// Fonts
$header-font: 'Halant', sans-serif;
$body-font: 'Nunito', sans-serif;
$body-font-secondary: 'Oswald', sans-serif;

// Colors
$color-primary: #7c7c7c;
$color-secondary: #000;
$color-light: #f9f9f9;
$color-dark: #555555;
$color-facebook: #3b5998;
$color-instagram: #bc2a8d;
$color-instagram-gradient: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);


// Breakpoints
$breakpoint-xsmall: 480px;
$breakpoint-small: 640px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1280px;